/* Kod na pridanie fontu z: https://rsms.me/inter/ */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}
/* Koniec kodu na pridanie fontu */

:root {
  --primary-color: #75BD9B;
  --secondary-color: #47735F;
  --secondary-color-dark: #385c4c;
  --primary-background-color: #DBEDE5;
  --secondary-background-color: #F3FFF9;
  --warning-color: #d43232;
  --warning-color-dark: #ba2d2d;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-background-color);
}

.buttons {
  padding: 8px 20px;
  font-size: 24px;
  text-decoration: none;
  color: black;
  border-radius: 100px;
  font-weight: bold;
  background-color: var(--secondary-color);
  &:hover {
    background-color: var(--secondary-color-dark);
  }
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

header {
  nav {
    background-color: var(--primary-color);
    padding: 10px;
    #logonav {
      height: 50px;
      img {
        height: 50px;
      }
    }
    .sectiontab {
      float: left;
      text-decoration: none;
      color: black;
      font-weight: bold;
      font-size: 30px;
      padding: 5px 10px;
      height: 40px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
    
    #search {
      img {
        height: 40px;
        padding: 5px 10px;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  nav {
    height: 50px;
    #logonav {
      margin-right: 20px;
      float: left;
    }
  }
  #search {
      float: left;
    }
    .navbutton {
      float: right;
    }
}



@media only screen and (max-width: 1000px) {
  nav {
    height: 100px;
    #logonav {
        width: 232px;
        float: none;
        display: block;
        margin: 0 auto;
    }
    #search {
      float: left;
    }
    .navbutton {
      float: right;
    }
  }
}

@media only screen and (max-width: 700px) {
  nav {
    height: 150px;
   
    #navtools {
      width: 430px;
      margin: 10px auto 0;
    }
    #navsetion {
      margin: 0 auto;
      width: 430px;
      .sectiontab {
        float: none;
      }
    }
  }
}

.secondarycategorycontainer {
  background-color: var(--secondary-background-color);
}

@media only screen and (max-width: 450px) {
  #navtools {
    width: 355px !important;
  }
  #navsetion {
    width: 365px !important;
    .sectiontab {
      font-size: 25px;
      height: 30px;
    }
  }
}

.primarypreview {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px;
  a {
      text-decoration: none;
      color: black;
    }
}
.secondarypreviews {
  max-width: 1500px;
  margin: 0 auto;
  a {
      text-decoration: none;
      color: black;
    }
}

@media only screen and (max-width: 900px) {
  .primarypreview {
    img {
      width: 100%;
    }
  }
  .secondarypreview {
    padding: 30px;
    img {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 900px) {
  .primarypreview {
    display: grid;
    grid-template-columns: auto auto;
    img {
      width: 97%;
      max-height: 400px;
    }
  }
  .secondarypreviews {
    display: grid;
    grid-template-columns: auto auto;
    .secondarypreview {
      padding: 30px;
      img {
        width: 100%;
      }
    }
  }
}

.tertiarypreviews {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px;
  a {
    text-decoration: none;
    color: black;
  }
}

.previewsectionname {
  font-size: 30px;
  font-weight: 800;
}

@media only screen and (max-width: 700px) {
  .articleheaderimage {
    height: 300px;
  }
}
@media only screen and (min-width: 700px) {
  .articleheaderimage {
    height: 400px;
  }
}

.secondarycolorcontainer {
  background-color: var(--secondary-background-color);
}
.articleheader {
  max-width: 1500px;
  margin: 0 auto;
  padding: 30px;
  .articleheaderimage {
    background-size: cover;
    background-position: center;
  }
}

.articlebody {
  padding: 30px;
  max-width: 1500px;
  margin: 0 auto;
}

.articlefooter {
  padding: 30px;
  max-width: 1500px;
  margin: 0 auto;
  text-align: center;
}

.gallerycontainer {
  display: grid;
  padding-bottom: 20px;
  img {
    width: 96%;
    max-width: 500px;
    padding: 10px;
  }
}

@media only screen and (max-width: 1000px) {
  .gallerycontainer {
    grid-template-columns: 50% 50%;
  }
}

@media only screen and (max-width: 600px) {
  .gallerycontainer {
    grid-template-columns: auto;
  }
}

@media only screen and (min-width: 1000px) {
  .gallerycontainer {
    grid-template-columns: 33% 33% 33%
  }
}

.profileabout {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  h2, h3 {
    text-align: center;
  }
}

.nastaveniacontainer {
  text-align: center;
  padding-bottom: 0;
  padding-top: 30px;
  button {
    padding: 10px 20px;
    border-radius: 100px;
    border: 0px;
    margin: 10px;
    font-weight: 600;
    background-color: var(--primary-color);
    &:hover {
      cursor: pointer;
      background-color: var(--secondary-color);
    }
  }
  input {
    padding: 10px 20px;
    border-radius: 100px;
    border: black solid 2px;
    background-color: rgba(0, 0, 0, 0);
  }
  textarea {
    font-family: Inter, sans-serif;
    min-width: 50%;
    max-width: 90%;
    height: 200px;
  }
  .nastaveniaprofil {
    padding: 10px;
  }
  .nastaveniauctu {
    background-color: var(--secondary-background-color);
    padding: 10px;
  }
  .nastavenianevratitelne {
    padding: 10px;
    button {
      background-color: var(--warning-color);
      &:hover {
        background-color: var(--warning-color-dark);
        cursor: pointer;
      }
    }
  }
  .kontoltacidla {
    margin: 0px auto 30px;
  }
}

/* Vyhladavanie */
.vyhladavaniekontajner {
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: rgba(0, 0, 0, 0.8);
    }
  }
}

#nacitatdalsietlacitko {
  margin: 30px;
}

.vyhladavaniezadavanie {
  padding: 30px 10px;
  #vyhladavanytextlabel {
    font-weight: 700;
    font-size: x-large;
  }
  #searchtext {
    padding: 10px 20px;
    border-radius: 100px;
    border: black solid 1,5px;
    background-color: rgba(0, 0, 0, 0);
  }
  button {
    font-weight: 700;
    background-color: var(--secondary-color);
    border: 0px;
    border-radius: 10px;
    padding: 10px 15px;
    margin-left: 5px;
  }
}

#vyhladavanietyphladaneho {
  margin-top: 15px;
  font-size: 18px;
}

.vyhladavanietyp {
  font-weight: 600;
  font-size: large;
  margin: 5px 0;
}

@media only screen and (min-width: 800px) {
  .vyhladavanieclanok {
    text-align: left;
    display: grid;
    grid-template-columns: auto auto;
  }
}

.vyhladavanieclanok {
  padding: 10px;
  img {
    width: 100%;
  }
  .vyhladavanieclanoktext {
    padding: 10px;
  }
}

.vyhladavanieprofil {
  h2 {
    margin: 5px 0;
  }
}

/* Creator prehlad clankov */

.creatorclanky {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;

  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: var(--secondary-color-dark);
    }
  }

  .creatorclanokview {
    padding: 10px;
    h3 {
      margin: 5px 0;
    }
    .creatorclanoktlacitka {
      button {
        margin-left: 5px;
        font-weight: 700;
        background-color: var(--warning-color);
        border: 0;
        padding: 5px 10px;
        border-radius: 5px;
        &:hover {
          background-color: var(--warning-color-dark);
          cursor: pointer;
        }
      }
    }
  }
  #novyclanok {
      font-weight: 700;
    }
}

.zvereneclanky {
  select {
    background-color: var(--primary-color);
    padding: 5px 10px;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
    option {
      background-color: var(--primary-color);
    }
  }
}

/* editor */

#editor {
  header {
    margin: 10px;
  }
}

#editorvratitsa {
  text-decoration: none;
  color: black;
  &:hover {
    color: var(--secondary-color-dark);
  }
}

.nadeditorom {
  margin: 10px;
  font-weight: 600;
  input {
    padding: 5px 10px;
    border: solid black 1.5px;
    border-radius: 100px;
  }
  button {
    border: 0;
    border-radius: 100px;
    background-color: var(--secondary-color);
    font-weight: 600;
    padding: 5px 15px;
    &:hover {
      cursor: pointer;
      background-color: var(--secondary-color-dark);
    }
  }
}

@media only screen and (max-width: 700px) {
  .editorobrazky {
    grid-template-columns: auto;
  }
}

@media only screen and (min-width: 700px) {
  .editorobrazky {
    grid-template-columns: auto auto;
  }
}

@media only screen and (min-width: 1000px) {
  .editorobrazky {
    grid-template-columns: auto auto auto;
  }
}

.podeditorom {
  text-align: center;
  .editorobrazky {
    display: grid;
  }
  .editorobrazok {
    padding: 10px;
    img {
      width: 100%;
    }
  }
  a {
    text-decoration: none;
    font-size: large;
    color: black;
    font-weight: 600;
    &:hover {
      color: var(--secondary-color-dark);
    }
  }
}

/* administracia */
.administration {
  ul {
    list-style: none;
    padding: 0;
  }
  text-align: center;
  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: var(--secondary-color-dark);
    }
  }
  .adminmoznosti {
    ul {
      li {
        margin: 10px 0;
      }
      a {
        font-weight: 700;
        font-size: larger;
      }
    }
  }
  button {
    margin: 5px;
    border: 0;
    border-radius: 100px;
    padding: 5px 10px;
    background-color: var(--secondary-color);
    font-weight: 600;
    &:hover {
      cursor: pointer;
      background-color: var(--secondary-color-dark);
    }
  }
  .adminbutdang {
    background-color: var(--warning-color);
    &:hover {
      background-color: var(--warning-color-dark);
    }
  }
  .adminnajdenyuzivatelia {
    ul {
      li {
        padding: 4px;
      }
    }
  }
  .adminzobrazeniepodrobnostiuzivatel {
    li {
      padding: 2px;
      font-size: large;
      font-weight: 600;
    }
  }
  select {
    background-color: var(--primary-color);
    border: 0;
    padding: 5px 10px;
    border-radius: 5px;
    option {
      background-color: var(--primary-color);
    }
  }
  .adminnajdeneclanky {
    li {
      padding: 4px;
    }
  }
}

/* Komentare */
.komentarekontajner {
  text-align: center;
  h4 {
    margin: 5px 0;
  }
  padding: 5px;
  textarea {
    margin: 5px auto;
    width: 90%;
    height: 40px;
  }
  a {
    color: black;
    text-decoration: none;
    &:hover {
      color: var(--secondary-color-dark);
    }
  }
  button {
    padding: 10px 20px;
    border: 0;
    border-radius: 100px;
    font-weight: 600;
    background-color: var(--primary-color);
    &:hover {
      background-color: var(--secondary-color);
      cursor: pointer;
    }
  }
  .delbut {
    background-color: var(--warning-color);
    &:hover {
      background-color: var(--warning-color-dark);
    }
  }
  .komentaredalsie {
    padding: 10px;
  }
}

/* Galeria */

.galeriakontajner {
  text-align: center;
  .galerianahratsekcia {
    padding: 10px;
    background-color: var(--secondary-background-color);
    form {
      padding: 10px;
      max-width: 600px;
      margin: 0 auto;
    }
  }
  button {
    padding: 10px 20px;
    font-weight: 700;
    border: 0;
    border-radius: 100px;
    margin: 10px;
    background-color: var(--primary-color);
    &:hover {
      background-color: var(--secondary-color);
      cursor: pointer;
    }
  }
  .galdelbut {
    background-color: var(--warning-color);
    &:hover {
      background-color: var(--warning-color-dark);
    }
  }
  .galjedtext {
    padding: 10px 20px;
    border-radius: 100px;
    border: black solid 1.5px;
    background-color: rgba(0, 0, 0, 0);
  }
  .galeriajednotlivy {
    padding: 10px;
    img {
      width: 100%;
    }
  }
  .galeriasprava {
    display: grid;
    max-width: 1500px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 700px) {
  .galeriasprava {
    grid-template-columns: auto;
  }
}

@media only screen and (min-width: 850px) {
  .galeriasprava {
    grid-template-columns: auto auto;
  }
}

@media only screen and (min-width: 1200px) {
  .galeriasprava {
    grid-template-columns: auto auto auto;
  }
}

/* Specificky k prihlasovani a registracii*/
.authside {
  --item-color: #75BD9B;
  --link-color: #47735F;
  
  text-align: center;
  background-color: #DBEDE5;
  .loginlogo {
    display: inline-block;
    height: 68px;
    margin: 50px auto;
  }

  .authinputcontainer {
    .authwarning {
      color: var(--warning-color);
      margin: 0;
    }

    input {
      margin: 5px;
      padding: 10px 20px;
      border-radius: 100px;
      border: solid black 2px;
      background-color: rgba(0, 0, 0, 0);
    }

    .authlink {
      text-decoration: none;
      color: var(--link-color);
      font-weight: 550;
    }

    button {
      border-width: 0;
      padding: 10px 20px;
      border-radius: 100px;
      background-color: var(--item-color);
      font-size: medium;
      margin: 15px 0;
      &:hover {
        cursor: pointer;
      }
    }

    .authotheraction {
      margin: 20px 0;
    }
  }
}