/* Kod na pridanie fontu z: https://rsms.me/inter/ */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}
/* Koniec kodu na pridanie fontu */

:root {
  --primary-color: #75BD9B;
  --secondary-color: #47735F;
  --secondary-color-dark: #385c4c;
  --primary-background-color: #DBEDE5;
  --secondary-background-color: #F3FFF9;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-background-color);
}

.buttons {
  padding: 8px 20px;
  font-size: 24px;
  text-decoration: none;
  color: black;
  border-radius: 100px;
  font-weight: bold;
  background-color: var(--secondary-color);
  &:hover {
    background-color: var(--secondary-color-dark);
  }
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

header {
  nav {
    background-color: var(--primary-color);
    padding: 10px;
    #logonav {
      height: 50px;
      img {
        height: 50px;
      }
    }
    .sectiontab {
      float: left;
      text-decoration: none;
      color: black;
      font-weight: bold;
      font-size: 30px;
      padding: 5px 10px;
      height: 40px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
    
    #search {
      img {
        height: 40px;
        padding: 5px 10px;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  nav {
    height: 50px;
    #logonav {
      margin-right: 20px;
      float: left;
    }
  }
  #search {
      float: left;
    }
    .navbutton {
      float: right;
    }
}



@media only screen and (max-width: 1000px) {
  nav {
    height: 100px;
    #logonav {
        width: 232px;
        float: none;
        display: block;
        margin: 0 auto;
    }
    #search {
      float: left;
    }
    .navbutton {
      float: right;
    }
  }
}

@media only screen and (max-width: 700px) {
  nav {
    height: 150px;
   
    #navtools {
      width: 430px;
      margin: 10px auto 0;
    }
    #navsetion {
      margin: 0 auto;
      width: 430px;
      .sectiontab {
        float: none;
      }
    }
  }
}

.secondarycategorycontainer {
  background-color: var(--secondary-background-color);
}

@media only screen and (max-width: 450px) {
  #navtools {
    width: 355px !important;
  }
  #navsetion {
    width: 365px !important;
    .sectiontab {
      font-size: 25px;
      height: 30px;
    }
  }
}

.primarypreview {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px;
  a {
      text-decoration: none;
      color: black;
    }
}
.secondarypreviews {
  max-width: 1500px;
  margin: 0 auto;
  a {
      text-decoration: none;
      color: black;
    }
}

@media only screen and (max-width: 900px) {
  .primarypreview {
    img {
      width: 100%;
    }
  }
  .secondarypreview {
    padding: 30px;
    img {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 900px) {
  .primarypreview {
    display: grid;
    grid-template-columns: auto auto;
    img {
      width: 97%;
      max-height: 400px;
    }
  }
  .secondarypreviews {
    display: grid;
    grid-template-columns: auto auto;
    .secondarypreview {
      padding: 30px;
      img {
        width: 100%;
      }
    }
  }
}

.tertiarypreviews {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px;
  a {
    text-decoration: none;
    color: black;
  }
}

.previewsectionname {
  font-size: 30px;
  font-weight: 800;
}

@media only screen and (max-width: 700px) {
  .articleheaderimage {
    height: 300px;
  }
}
@media only screen and (min-width: 700px) {
  .articleheaderimage {
    height: 400px;
  }
}

.secondarycolorcontainer {
  background-color: var(--secondary-background-color);
}
.articleheader {
  max-width: 1500px;
  margin: 0 auto;
  padding: 30px;
  .articleheaderimage {
    background-size: cover;
    background-position: center;
  }
}

.articlebody {
  padding: 30px;
  max-width: 1500px;
  margin: 0 auto;
}

.articlefooter {
  padding: 30px;
  max-width: 1500px;
  margin: 0 auto;
  text-align: center;
}

.gallerycontainer {
  display: grid;
  padding-bottom: 20px;
  img {
    width: 96%;
    max-width: 500px;
    padding: 10px;
  }
}

@media only screen and (max-width: 1000px) {
  .gallerycontainer {
    grid-template-columns: 50% 50%;
  }
}

@media only screen and (max-width: 600px) {
  .gallerycontainer {
    grid-template-columns: auto;
  }
}

@media only screen and (min-width: 1000px) {
  .gallerycontainer {
    grid-template-columns: 33% 33% 33%
  }
}

.profileabout {
  h2, h3 {
    text-align: center;
  }
}

.nastaveniacontainer {
  text-align: center;
  padding-bottom: 0;
  padding-top: 30px;
  button {
    padding: 10px 20px;
    border-radius: 100px;
    border: 0px;
    margin: 10px;
    font-weight: 600;
    background-color: var(--primary-color);
    &:hover {
      cursor: pointer;
      background-color: var(--secondary-color);
    }
  }
  input {
    padding: 10px 20px;
    border-radius: 100px;
    border: black solid 2px;
    background-color: rgba(0, 0, 0, 0);
  }
  textarea {
    font-family: Inter, sans-serif;
    min-width: 50%;
    max-width: 90%;
    height: 200px;
  }
  .nastaveniaprofil {
    padding: 10px;
  }
  .nastaveniauctu {
    background-color: var(--secondary-background-color);
    padding: 10px;
  }
  .nastavenianevratitelne {
    padding: 10px;
    button {
      background-color: rgb(212, 19, 19);
    }
  }
}

/* Specificky k prihlasovani a registracii*/
.authside {
  --item-color: #75BD9B;
  --link-color: #47735F;
  --warning-color: rgb(211, 21, 21);
  
  text-align: center;
  background-color: #DBEDE5;
  .loginlogo {
    display: inline-block;
    height: 68px;
    margin: 50px auto;
  }

  .authinputcontainer {
    .authwarning {
      color: var(--warning-color);
      margin: 0;
    }

    input {
      margin: 5px;
      padding: 10px 20px;
      border-radius: 100px;
      border: solid black 2px;
      background-color: rgba(0, 0, 0, 0);
    }

    .authlink {
      text-decoration: none;
      color: var(--link-color);
      font-weight: 550;
    }

    button {
      border-width: 0;
      padding: 10px 20px;
      border-radius: 100px;
      background-color: var(--item-color);
      font-size: medium;
      margin: 15px 0;
      &:hover {
        cursor: pointer;
      }
    }

    .authotheraction {
      margin: 20px 0;
    }
  }
}