/* Kod na pridanie fontu z: https://rsms.me/inter/ */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}
/* Koniec kodu na pridanie fontu */

body {
  margin: 0;
  padding: 0;
}

.buttons {
  padding: 8px 20px;
  font-size: 24px;
  text-decoration: none;
  color: black;
  border-radius: 100px;
  font-weight: bold;
  background-color: #609b80;
  &:hover {
    background-color: #47735F;
  }
}

header {
  nav {
    background-color: aquamarine;
    padding: 10px;
    #logonav {
      height: 50px;
      img {
        height: 50px;
      }
    }
    .sectiontab {
      float: left;
      text-decoration: none;
      color: black;
      font-weight: bold;
      font-size: 30px;
      padding: 5px 10px;
      height: 40px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
    
    #search {
      img {
        height: 40px;
        padding: 5px 10px;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  nav {
    height: 50px;
    #logonav {
      margin-right: 20px;
      float: left;
    }
  }
  #search {
      float: left;
    }
    .buttons {
      float: right;
    }
}



@media only screen and (max-width: 1000px) {
  nav {
    height: 100px;
    #logonav {
        width: 232px;
        float: none;
        display: block;
        margin: 0 auto;
    }
    #search {
      float: left;
    }
    .buttons {
      float: right;
    }
  }
}

@media only screen and (max-width: 700px) {
  nav {
    height: 150px;
   
    #navtools {
      width: 400px;
      margin: 10px auto 0;
    }
    #navsetion {
      margin: 0 auto;
      width: 400px;
      .sectiontab {
        float: none;
      }
    }
  }
}

/* Specificky k prihlasovani a registracii*/
.authside {
  --item-color: #75BD9B;
  --link-color: #47735F;
  --warning-color: rgb(211, 21, 21);
  
  text-align: center;
  background-color: #DBEDE5;
  .loginlogo {
    display: inline-block;
    height: 68px;
    margin: 50px auto;
  }

  .authinputcontainer {
    .authwarning {
      color: var(--warning-color);
      margin: 0;
    }

    input {
      margin: 5px;
      padding: 10px 20px;
      border-radius: 100px;
      border: solid black 2px;
      background-color: rgba(0, 0, 0, 0);
    }

    .authlink {
      text-decoration: none;
      color: var(--link-color);
      font-weight: 550;
    }

    button {
      border-width: 0;
      padding: 10px 20px;
      border-radius: 100px;
      background-color: var(--item-color);
      font-size: medium;
      margin: 15px 0;
      &:hover {
        cursor: pointer;
      }
    }

    .authotheraction {
      margin: 20px 0;
    }
  }
}